.all_text_center{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .footer1{
        height: 10vh;
        color: white;
        background-color: black;
        
    }
    .all_text_center a{
        color: white;
    }
    a{
        text-decoration: none;
    }