@import url('httpps://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0; 
}
body{
    background: url(../images/backgrounds/bg.jpg);
    background-size: cover;  
}
.log{
    width: 700px;
    margin: 40vh auto 0px auto;    
}
.log1{
    width: 100%;
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 2px 2px 15px  ;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.reset-form{
    padding: 20px;
}
label{
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 20px;
}
input#password{
    width: 350px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px ;
    opacity: 0.47;
    font-weight: 800;
}
.l1{
    font-size: 14px;
    width: 120px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 6px;
    background: none;
    opacity: 0.67;
    margin-left: 275px;
    margin: 3vh 19vw;
    cursor: pointer;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-weight: 700;
    color: rgb(187, 255, 0);
    background-color: rgb(255, 0, 0);
}
button.l1:hover{
    background-color: rgb(32, 31, 87);
}
.chance{
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}